@import 'reset.css';

html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	min-width: 1000px;
	font-family: 'Open Sans';
	color: #212121;
	background: #FBFBFB;
	letter-spacing: 1.2px;
}

a {
	color: #FBFBFB;
	text-decoration: none;
}

ul {
	list-style-type: none;
}